<app-header (messageEvent)="receiveMessage($event)"></app-header>
<br><br><br>
<div class="row">
    <div class="col-3 ">
        <div class="sidenav" (click)="about()"> About </div>
        <div class="sidenav" (click)="info()">  Registered Info</div>
        <div class="sidenav" (click)="clients()">Clients</div>
        <div class="sidenav" (click)="contact()">Contact</div>
    </div>
    <div class="col-8">
        <div>
            <h2 class="basic">Currency Conversion Operations</h2>
        </div>
        <br>
        <!-- <div>
            <label for=""><b style="font-size: 20px;">Select the Country:</b></label>
            <select name="" id="" [(ngModel)]="selected">
                <option value="0">Select the Country</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="AUD">AUD</option>
                <option value="RUB">RUB</option>
                <option value="PHP">PHP</option>
            </select>
        </div> -->
          <!-- <br><br> -->
        <div>
          
          <form [formGroup]="currencyForm">
              <input type="number" placeholder= " Indian Amount" formControlName="value" [(ngModel)]="amount">
              <p *ngIf ="value.touched && value.invalid" class="error">Pleaseenter valid Amount</p>
              <br>
              <button class="convert" (click)="conversion()">Convert</button>
              <!-- <input type="text"  placeholder="Converted Amount" [(ngModel)]="finalValue"> -->
          </form>  
            <input type="text"  placeholder="Converted Amount" [(ngModel)]="finalValue"> 
        </div>

    </div>




    