
<h3>See the Below Registered Users</h3>
<div *ngFor="let item of msgArray">
    <span><b>First Name : &nbsp; &nbsp;</b></span>
    <span>{{item.FirstName}}</span>
    <br>
    <span><b>Last Name: &nbsp; &nbsp;</b></span>
    <span>{{item.LastName}}</span>
    <br>
    <span><b>Email: &nbsp; &nbsp;</b></span>
    <span>{{item.Email}}</span>
    <br>
    <span><b>Password: &nbsp; &nbsp;</b></span>
    <span>{{item.Password}}</span>
    <br>
    <span><b>ConfirmPassword: &nbsp; &nbsp;</b></span>
    <span>{{item.ConfirmPassword}}</span>
    <br>
    <span><b>Number: &nbsp; &nbsp;</b></span>
    <span>{{item.PhoneNo}}</span>
    <br>
    <span><b>Address: &nbsp; &nbsp;</b></span>
    <span>{{item.Address}}</span>
    <br>
</div>