label
        {
            width: 130px;
            display: inline-block;
            text-align: right;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .error{
            color: red;
            margin-left: 10%;
        }
        .registerDesign{
           margin-left: 30%;
           margin-top: 5%;
        }
        .subdesign{
            margin-left: 15%;
            margin-right: 60px;
        }
        .logDesign{
            height: 10%;
            width: 30%;
            margin-left: 10%;
            background-color: green;
        }
        .head{
            margin-left: 50px;
        }